.about{
    margin-top: 5.5rem;
    &__heading{
        text-align: center;
        font-weight: 600;
        font-size: 2em;
    }
    &__col-1{
        //margin-top: 5rem;
        font-size: 15px;
        font-weight: 400;
        margin-left: 8rem;
    }
}


