.services__heading{
    text-align: center;
    font-weight: 600;
    font-size: 2em;

    &__icon{
      font-size: 100px;
      font-family: 'Fontawesome webfont', sans-serif;
    }

    &__header{
       font-family: sans-serif;
    }
}


